@using Microsoft.AspNetCore.Components.Forms;
@using DataSaturdays.Core.Entities;
@using DataSaturdays.Core.Services;


@inject IEventService EventService


<EditForm EditContext="_editContext" OnValidSubmit="Save" class="row">
        
    <div class="col-12 pt-3">

        <!-- START OBLIGATORY -->
        <h1>STANDARD INFOS</h1>
        <div class="row mt-lg-5">
                
            <div class="col-6">
                <div class="form-group">
                    <label for="txtName">Name</label>
                    <InputText class="form-control" title="Name" @bind-Value="Item.Name" placeholder="Enter event name"/>
                </div>
            </div>
        

            <div class="col-6">
                <div class="form-group">
                    <label for="txtDate">Date</label>
                    <input type="text" class="form-control" title="Date" value="@Item.Date" placeholder="Enter event date" />
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <InputTextArea type="text" class="form-control" title="Description" rows="5" @bind-Value="Item.Description" placeholder="Enter event description"></InputTextArea>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="urlReg">Registration URL</label>
                    <input type="url" class="form-control" title="RegURL" value="@Item.RegistrationURL" placeholder="Enter the registration URL" />
                </div>
            </div>


            <div class="col-4">
                <div class="form-group">
                    <label for="urlCFS">Call For Speaker URL</label>
                    <input type="url" class="form-control" title="CFSURL" value="@Item.CallForSpeakersURL" placeholder="Enter the call for speaker URL" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlSchedule">Schedule URL</label>
                    <input type="url" class="form-control" title="ScheduleURL" value="@Item.ScheduleURL" placeholder="Enter the schedule URL" />
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="urlSpeakerList">Speaker List URL</label>
                    <input type="url" class="form-control" title="SpeakerListURL" value="@Item.SpeakerListURL" placeholder="Enter the speaker list URL" />
                </div>
            </div>


            <div class="col-4">
                <div class="form-group">
                    <label for="urlVolunteer">Volunteers URL</label>
                    <input type="url" class="form-control" title="VolURL" value="@Item.VolunteerRequestURL" placeholder="Enter the volunteer request URL" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlMap">Venue Map URL</label>
                    <input type="url" class="form-control" title="VMapURL" value="@Item.VenueMap" placeholder="Enter the venue URL" />
                </div>
            </div>
        </div>

    </div>

    <!-- START ORGANIZERS -->
    <div class="col-12 pt-3">
        <h1>ORGANIZERS</h1>
    </div>
    @foreach(var Org in Item.Organizers)
    {
        <div class="row mt-lg-5">

            <div class="col-4">
                <div class="form-group">
                    <label for="txtOName">Organizer Name</label>
                    <input type="text" class="form-control" title="OName" value="@Org.Name" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlOEmail">Organizer's email</label>
                    <input type="email" class="form-control" title="OrgEmail" value="@Org.Email" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <input type="url" class="form-control" title="OrgTwitt" value="@Org.Twitter" />
                    <label for="urlOTwitt">Organizer's Twitter URL</label>
                </div>
            </div>
        </div>
    }
    <!-- END ORGANIZERS -->

    <!-- END OBLIGATORY -->
        
    <br>

    <!-- START MILESTONES -->
    <div class="col-12 pt-3">            
        <h1>MILESTONES (Optional)</h1>
    </div>
    @foreach(var Mil in Item.Milestones)
    {
        <div class="row mt-lg-5">

            <div class="col-4">
                <div class="form-group">
                    <label for="txtMName">Milestone Name</label>
                    <input type="text" class="form-control" title="MName" value="@Mil.Name" />
                </div>
            </div>


            <div class="col-4">
                <div class="form-group">
                    <label for="txtMDate">Milestone Date</label>
                    <input type="text" class="form-control" title="MDate" value="@Mil.Date" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="txtMOrder">Milestone Order</label>
                    <input type="text" class="form-control" title="MOrder" value="@Mil.Order" />
                </div>
            </div>

        </div>
    }
    <!-- END MILESTONES -->

    <br />

    <!-- START PRECONFERENCE -->
    <div class="col-12 pt-3">
        <h1>PRECONFERENCE (Optional)</h1>
    </div>

    <div class="row mt-lg-5">

        <div class="col-6">
            <div class="form-group">
                <label for="txtPName">Preconference Name</label>
                <input type="text" class="form-control" title="PreconName" value=""/>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group">
                <label for="txtPDesc">Preconference Description</label>
                <input type="text" class="form-control" title="PreconDesc" rows="5" value="" />
            </div>
        </div>

        @foreach(var Speaker in Item.Precons)
        {         
            <div class="col-4">
                <div class="form-group">
                    <label for="txtSName">Speaker Name</label>
                    <input type="text" class="form-control" title="SName" value="@Speaker.Name" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlSpeaker">Speaker URL</label>
                    <input type="url" class="form-control" title="SURL" value="" />
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="urlSpeakerimg">Speaker Image URL</label>
                    <input type="url" class="form-control" title="SImgURL" value="" />
                </div>
            </div>
        }

    </div>
    <!-- END PRECONFERENCE -->

    <br />

    <!-- START SPONSORS -->
    <div class="col-12 pt-3">
        <h1>ACTUAL SPONSORS (Optional)</h1>
    </div>

    @foreach(var Spon in Item.Sponsors)
    {
        
        <div class="row mt-lg-5">

            <div class="col-3">
                <div class="form-group">
                    <label for="txtSName">Sponsor Name</label>
                    <input type="text" class="form-control" title="SName" value="@Spon.Name" />
                </div>
            </div>

        
            <div class="col-3">
                <div class="form-group">
                    <label for="urlSImg">Sponsor Image</label>
                    <input type="url" class="form-control" title="SImg" value="@Spon.ImageURL" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="urlSLink">Sponsor Link</label>
                    <input type="url" class="form-control" title="SLink" value="@Spon.LinkURL" />
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="txtSLevel">Sponsor Level</label>
                    <input type="text" class="form-control" title="SLevel" value="@Spon.Level" />
                </div>
            </div>

        </div>
    }
    <!-- END SPONSORS -->

    <br />

    <!-- START VIRTUAL --!>
    <div class="row mt-lg-5">
        <div class="col-12">
            <h1>
                Room(optional)
            </h1>
        </div>

        @foreach(var Room in Item.Rooms)
        {
        <div class="col-6">
            <div class="form-group">
                <label for="txtRName">Room Name</label>
                <input type="text" class="form-control" title="RName" value="@Room.Name"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="urlRoom">Room URL</label>
                    <input type="url" class="form-control" title="RoomURL" value="@Room.JoinURL" />
            </div>
        </div>
        }

    </div>
    <!-- END VIRTUAL -->

    <br />

    <!-- START OTHER -->
    <div class="col-12 pt-3">
        <h1>OTHER (Optional)</h1>
    </div>

    <div class="row mt-lg-5">

        <div class="col-3">
            <div class="col align-content-center form-check">
                <input type="checkbox" class="form-check-input checkbox-size" title="HTL" id="checkboxHTL" />
                <label for="checkboxHTL" class="form-check-label">Hide top Logo</label>
            </div>
        </div>


        <div class="col-3">
            <div class="col align-content-center form-check">
                <input type="checkbox" class="form-check-input checkbox-size" title="COC" id="checkboxCOC" />
                <label for="checkboxCOC" class="form-check-label">Code of Conduct</label>
            </div>
        </div>

        <div class="col-3">
            <div class="col align-content-center form-check">
                <input type="checkbox" class="form-check-input checkbox-size" title="HJR" id="checkboxHJR" />
                <label for="checkboxHJR" class="form-check-label">Hide Join Rooms</label>
            </div>
        </div>

        <div class="col-3">
            <div class="col align-content-center form-check">
                <input type="checkbox" class="form-check-input checkbox-size" title="Virtual" id="checkboxVir" />
                <label for="checkboxVir" class="form-check-label">Virtual</label>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="txtDescription">Schedule Description</label>
                <InputTextArea type="text" class="form-control" title="Schedule description" rows="5" @bind-Value="Item.ScheduleDescription" placeholder="Enter schedule description"></InputTextArea>
            </div>
        </div>

    </div>
    <!-- END OTHER -->

    <button type="submit" class="btn btn-primary mt-3 mr-3">Save</button>
    <a class="btn btn-outline-primary mt-3" href="/Dashboard">Cancel</a>
        

</EditForm>


@code {
    [Parameter] public Guid Id { get; set; }

    public Event Item { get; set; } = new Event();

    private EditContext _editContext = new EditContext(new Event());


    protected override async Task OnInitializedAsync()
    {
        Item = await EventService.GetEventByIdAsync(Id);
        _editContext = new EditContext(Item);

        if(Item != null)
        {
            // edit
        }
        else
        {
            // new event
            Item = new Event();
        }
    }

    protected async Task Save()
    {
        if (Item.Id.Equals(Guid.Empty))
        {
            await EventService.CreateEvent(Item);
        }
        else
        {
            await EventService.UpdateEvent(Item);
        }
    }
}
