@page "{EventId:Guid}"
@using DataSaturdays.Core.Services;
@model EventModel

@{
    ViewData["Title"] = "Event page";
    Layout = "_EventLayout";
}



<!-- Masthead-->
<header class="masthead mt-4" id="page-top">
    <div class="container">

        <img src="../assets/design/facebook/c.facebook%201r.png" alt="Data Saturdays" class="w-100 cover-image">

        <div class="masthead-heading text-uppercase mt-4">@Model.Event.Name</div>
        <div class="masthead-subheading">@Model.Event.Date.ToString("dd-MMMM-yyyy")</div>
        
        <div class="alert alert-light force-content-max-width" role="alert">
            @Html.Raw(Model.Event.Description)
        </div>
        
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="@Model.Event.RegistrationURL">
            Register
            now
        </a>

    </div>
</header>

<!-- About-->
<!-- Milestones -->
<!-- Precon -->
<section class="page-section" id="precon">
    <div class="container">
        <div class="text-left">
            <h2 class="section-heading text-uppercase text-center">Pre-conference workshop</h2>
            <div class="alert alert-light" role="alert">
                @Html.Raw(Model.Event.PreconDescription)
            </div> 
            @if (Model.Event.Precons != null)
            {
                @foreach (var precon in Model.Event.Precons)
                {
                    <div style="width: auto; height: auto; border: 2px solid #aaa; display: box; box-pack: center; box-align: center; padding: 15px;"> 
                        <p style="text-align: center; font-size: 1.5rem;"> @precon.Name </p> 
                        <p style="text-align: center; font-size: 1.3rem;"> with 
                            @foreach (var preconSpeaker in precon.Speakers)
                            {
                                <a href="@preconSpeaker.Profile" target="_blank">@preconSpeaker.Name</a>
                                <img src="@preconSpeaker.Image" height="170" alt="@preconSpeaker.Name" style="margin-left: 35px; margin-right: 35px;border-radius: 50%;">
                            }
                        </p> 
                        <p>@Html.Raw(precon.Description)</p> 
                        <br>  
                        <p style="text-align:center;"> <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="@precon.RegistrationUrl" target="_blank">Register</a> </p> 
                    </div>
                }
            }
        </div>

    </div>
</section>



<section class="page-section" id="venue">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-center">Venue</h2>
            <div class="alert alert-light" role="alert">
                <iframe src="@Model.Event.VenueMap" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</section>


<!-- Schedule -->
<section class="page-section" id="schedule">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Schedule</h2>
            <div class="alert alert-light" role="alert">


                <p>
                    <iframe frameborder="0" STYLE="width: 100%;height:1900px" SRCDOC="<BODY><script type='text/javascript' src='@Model.Event.ScheduleURL'></script></BODY>">
                    </iframe>
                </p>

            </div>

        </div>
    </div>
</section>


<!-- Sponsors -->
<section class="page-section" id="sponsors">
    <div class="container">
        <div class="text-center">

            <div class="row justify-content-center">
                @if (Model.Event.SponsorMenuItem == true)
                {
                    @Html.Raw(Model.Event.SponsorBenefits)
                }
            </div>
            
            <h2 class="section-heading text-uppercase">Sponsors</h2>
            @if (Model.Event.Sponsors != null)
            {
                <p style="text-align:center;font-size:2.5rem;color: dimgrey;margin-top: 35px;">
                    <b>YOU ROCK!</b>
                </p>

                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="">

                        <img src="" height="" />

                    </a>
                </div>
                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="https://www.solisyon.de">

                        <img src="https://github.com/bweissman/sponsorlogos/raw/main/datasaturdays/rheinland2023/solisyon.png" height="75" />

                    </a>
                </div>
                <p style="text-align:center;font-size:2.5rem;color: dimgrey;margin-top: 35px;">
                    <b>GOLD</b>
                </p>

                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="">

                        <img src="" height="" />

                    </a>
                </div>
                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="https://oh22.is/">

                        <img src="https://oh22.is/wp-content/uploads/sites/14/2021/02/oh22_Logo_grau_75.png" height="75" />

                    </a>
                </div>
                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="https://melissa.com/">

                        <img src="https://github.com/bweissman/sponsorlogos/raw/main/datasaturdays/rheinland2023/melissa.jpg" height="75" />

                    </a>
                </div>
                <p style="text-align:center;font-size:2.5rem;color: dimgrey;margin-top: 35px;">
                    <b>SILVER</b>
                </p>

                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="">

                        <img src="" height="" />

                    </a>
                </div>
                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="https://www.red-gate.com/">

                        <img src="https://github.com/bweissman/sponsorlogos/raw/main/datasaturdays/rheinland2023/redgate.png" height="75" />

                    </a>
                </div>
                <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                    <a href="https://gds-business-intelligence.de/">

                    <img src="https://github.com/bweissman/sponsorlogos/raw/main/datasaturdays/rheinland2023/GDS.jpg" height="75" />

                </a>
                </div>
            }

        </div>
        <div class="row justify-content-center">
            <div CLASS="mt-5">
                If you want to sponsor this event <a href="#contact">get in touch with the organizers</a>
            </div>
        </div>
    </div>
</section>

<!-- Speakers -->
<section class="page-section" id="speakers">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Speakers</h2>
            <div class="alert alert-light" role="alert">
                <p>
                    
                    <script type="text/javascript" src="@Model.Event.CallForSpeakersURL"></script>

                </p>
            </div>
        </div>
    </div>
</section>

<!--Volunteers-->
<!-- Code of conduct -->

<section class="page-section" id="codeofconduct">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Code of Conduct</h2>
            <div class="alert alert-light" role="alert">
                <p style="text-align:left;">@Html.Raw(Model.Event.CodeOfConduct)</p>
            </div>
        </div>
    </div>
</section>


<!-- Contact -->

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact</h2><div class="alert alert-light" role="alert">
                <p>
                    <b>Organizer:</b> Tillmann Eitelberg
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/_Tillmann"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:tei@sqlpass.de"><i class="far fa-envelope"></i></a>
                </p>
            </div><div class="alert alert-light" role="alert">
                <p>
                    <b>Organizer:</b> Oliver Engels
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/oengels"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:oen@sqlpass.de"><i class="far fa-envelope"></i></a>
                </p>
            </div><div class="alert alert-light" role="alert">
                <p>
                    <b>Organizer:</b> Ben Weissman (he/him)
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/bweissman"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="mailto:bwe@sqlpass.de"><i class="far fa-envelope"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
